#front_end_services{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8), url(img/gradienttrick.jpg));
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 10em;
    padding-bottom: 10em;
}