*{
    padding: 0;
    margin: 0;
}
#front_end_services{
    background-image: url(img/gradienttrick.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white !important;
    padding-top: 5%;
    padding-bottom: 55%;
}
#front_end_services h1{
    text-align: center;
    padding-bottom: 10px;
}
#front_end_services h1::after{
    content: '';
    display: block;
    background: white;
    height: .1em;
    width: 50%;
    margin-left: 25%;
    margin-top: .1em;
    margin-bottom: 5em;
}
.front_end_services{
   float: left;
}
.icon{
    font-size: 5em;
}
.front_end_columns{
    padding: 10%;
    display: block;
}
