
body{
    background-color: white;
}
#com_logo{
    width: 4em;
    margin-left: 2em;
}
.navbar-nav{
    margin-right: 4em;
    
}
.nav-link{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 1em;
}
.nav-link:hover{
    color: blue!important;
}
.carousel-item{
    max-height: 30em;
    width: 100%;
}
.carousel-caption{
    top:50%;
    transform: translateY(-50%);
    bottom: initial!important;
}
.carousel-caption h5{
    font-size: 3em;
    color: red;
}
#about{
    padding-top: 2%;
    padding-bottom: 2%;
}
#about .btn{
    margin-top: 2%;
    margin-bottom: 2%;
}
#about .about-content{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.progress{
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 2em;
}
.skill-bars p{
    font-weight: 600;
}
#services{
    background-image: url(img/gradienttrick.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    background-attachment: fixed;
    padding-top: 5%;
    padding-bottom: 15%;
}
#services h1{
    text-align: center;
    color: white;
    padding-bottom: 2%;
}
#services h1::after{
    content: '';
    background-color: white;
    display: block;
    height: 1%;
    width: 15%;
    margin: 1% auto 2%;
    border-bottom: 2px solid white;
}
.services{
    margin-top: 5%;
}
.icon{
    font-size: 3em;
    margin: 1% auto;
    padding: 5%;
    height: 2em;
    width: 5em;
}
#services p{
    font-size: 1em;
    margin-top: 2em;
}
.services .col-md-3:hover{
    background-color: #2A50FF;
    cursor: pointer;
    transition: 0.7s;
}
#team{
    padding-top: 5%;
    padding-bottom: 10%;
}
.profile-pic{
    margin-top: 5%;
}
.profile-pic .img-box{
    display: block;
    position: relative;
    opacity: 1;
}
.profile-pic .img-box img{
    filter: grayscale(1);
    width: 80%;
}
.profile-pic .img-box img:hover{
    filter: grayscale(0);
    cursor: pointer;
}
.profile-pic h2{
    font-size: 2em;
    font-weight: bold;
    color: #007bff;
    margin-top: 10%;
}
.profile-pic h3{
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 5%;
}
#team .fab{
    
    padding: 0.5em;
    background: white;
    color: #007bff;
    border-radius: 50%;
}
#team h1{
    text-align: center;
}
#team h1::after{
    content: '';
    background-color: blue;
    display: block;
    height: 1%;
    width: 15%;
    margin: 1% auto 2%;
    border-bottom: 2px solid blue;
}
.img-box ul{
    
    padding: 1em 0em;
    position: absolute;
    bottom: 0;
    z-index: 4;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.img-box ul li{
    display: inline-block;
}
.img-box ul:hover{
    opacity: 1;
}
.img-box ul, .img-box ul li{
    transition: 0.5s;
}
#contact{
    background-color: #EFEFEF;
}
#contact .form-control{
    border: none;
}
.follow{
    background: #fff;
    padding: 0.5em;
    border-radius: 1em;
    margin-bottom: 3%;
}
#contact h1{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
}
#contact h1::after{
    content: '';
    background-color: aqua;
    display: block;
    height: 1%;
    width: 15%;
    margin: 1% auto 2%;
    border-bottom: 2px solid aqua;
}
#foot{
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    text-align: center;
}
footer{
    background-color: black;
}
.col-md-12 h2{
    text-align: center;
}
.col-md-12 h2::after{
    content: '';
    background-color: blue;
    display: block;
    height: 1%;
    width: 15%;
    margin: 1% auto 2%;
    border-bottom: 2px solid blue;
}

