/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    #navbar a{
        font-size: 1.2em;
    }
    #description_wrapper{
    
    }
    #web_development_pic img{
        width: 35em;
        margin-right: 5em;
        margin-left: 5em;
        float: left;
    }
    #web_development_text h1 p{
        float: left;
        
    }
    #web_development_text h1{
        color: white;
        
    }
    #web_development_text p{
        margin-top: 1em;
        font-size: 1.5em;
        color: white;
    }
    #web_development_text{
        margin-top: 2em;
    }
    #front_end_description{
        
    }
    #front_end_description ul{
        list-style: none;
    }
    #front_end_description ul li{
        display: block
        
    }
    #front_end_description li {
        float: left;
        width: 15em;
        height: 22em;
        padding-top: 1em;
        border: 1px solid black;
        text-align: center;
        margin-top: 2em;
        margin-bottom: 3em;
        margin-left: 6em;
        animation: ease-in-out;
        animation-delay: 2s;
        background-color: #EDF5E1;
    }
    #front_end_description span{
        font-size: 2em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: black;
    }
    #front_end_description p{
        font-size: 1.2em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: black;
    
    }
    #front_end_description a{
        margin-bottom: 1em;
        
    }
    #front_end_description img{
        width: 4em;
        height: 4em;
    }
    #front_end_description{
        height: 30em;
        background-color: #242582;
        margin-top: 2em;
        width: 100%;
    }
    #front_end_description li:hover{
        box-shadow: 0.3em 0.3em #0B1924;
        background-color: bisque;
    }
    footer{
        margin-top: 2em;
        text-align: center;
        margin-bottom: 2em;
        color: white;
    }
    
    
  }
  